# Team 5

- 20MAI0039 AMRITA JYOTSNA

- 20MAI0044 TEJASWINI SUNIL PATIL

- 20MAI0045 SARIT MUKHOPADHYAY

- 20MAI0047 MASOOD ALI KHAN KAYASKI

- 20MAI0048 ACHU VINOD THOMAS

- 20MAI0049 VISHAL MANOHARRAO GAWALI

- 20MAI0050 NANCY PAL

- 20MAI0052 LADI HARISH KUMAR

Task List
Task 1: Search String with Website info
Task 2: Top 20 Search Results
Task 3: Identify the features
Task 4: Organize them into a Table
Task 5: Identify 5 suitable Feature Engineering Tasks (Give reasons where ever possible)
Task 6: Implementation of Five Feature Engineering Task
Task 7: Document Tasks 1-6 and add the link to the Video of Discussion in the same document.

### Video Link: 

https://drive.google.com/file/d/1sdWc8ZSK2ALnAUSSsEB9d16kVLgX6r60/view?usp=sharing

### Task 1 - 4: 

Data:

https://docs.google.com/spreadsheets/d/1LIFIkrjPjU-H6DLDAe7yHkKXbpouDUVyg1ZlHx9wHDs/edit#gid=0

## Import Libraries

In [1]:
import numpy as np
import pandas as pd

## Load data

In [2]:
data = pd.read_excel('property.xlsx', index_col = 'Property Number')
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type
Property Number,,,,,,,,,,,,,,,,
1,99acres,Munnar,87120,House,yes,NaN,Unfurnished,344,3.00,Ready to move,124.0,3BHK,4.0,Yes,Owner,Resale
2,99acres,Munnar,43560,House,yes,NaN,Unfurnished,287,1.25,Ready to move,120.0,4BHK,3.0,Yes,Owner,Resale
3,99acres,Munnar,800,House,NaN,NaN,Unfurnished,1250,0.10,Ready to move,130.0,3BHK,2.0,Yes,Owner,Resale
4,magicbricks,Bhubaneswar,1231,Apartment,no,yes,Unfurnished,7799,0.96,ready to move in,8.0,2BHK,NaN,yes,Broker,resale
5,magicbricks,Bhubaneswar,1600,Apartment,no,yes,furnished,5000,0.97,ready to move,14.0,3BHK,NaN,yes,owner,new property

# Implementation of Feature Engineering Tasks

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 16 columns):
Source                   23 non-null object
Location                 23 non-null object
Area (sq. ft)            23 non-null int64
Property Type            23 non-null object
Parking Facility         21 non-null object
Security                 19 non-null object
Furnishing Status        23 non-null object
Rs. per sq.ft            23 non-null int64
Price (Crores)           23 non-null float64
Status of Possession     23 non-null object
Distance from Airport    23 non-null float64
Rooms                    23 non-null object
Bathrooms                19 non-null float64
Photo Available          23 non-null object
Brokerage                23 non-null object
Transaction Type         23 non-null object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.1+ KB

In [4]:
data.describe()

,Area (sq. ft),Rs. per sq.ft,Price (Crores),Distance from Airport,Bathrooms
count,23.000000,23.000000,23.000000,23.000000,19.000000
mean,8707.869565,4907.000000,1.625565,71.804348,3.105263
std,19297.476828,3977.731366,1.884894,44.453944,1.100239
min,750.000000,287.000000,0.100000,1.500000,2.000000
25%,1415.500000,1496.000000,0.500000,36.000000,2.000000
50%,2200.000000,4009.000000,0.970000,67.000000,3.000000
75%,5113.500000,7662.500000,2.000000,118.500000,4.000000
max,87120.000000,15455.000000,8.500000,130.000000,5.000000

## 1. String Handling 
- Change all string to lowercase for uniformity

In [5]:
data = data.applymap(lambda s:s.lower() if type(s) == str else s)
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type
Property Number,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,yes,NaN,unfurnished,344,3.00,ready to move,124.0,3bhk,4.0,yes,owner,resale
2,99acres,munnar,43560,house,yes,NaN,unfurnished,287,1.25,ready to move,120.0,4bhk,3.0,yes,owner,resale
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,ready to move,130.0,3bhk,2.0,yes,owner,resale
4,magicbricks,bhubaneswar,1231,apartment,no,yes,unfurnished,7799,0.96,ready to move in,8.0,2bhk,NaN,yes,broker,resale
5,magicbricks,bhubaneswar,1600,apartment,no,yes,furnished,5000,0.97,ready to move,14.0,3bhk,NaN,yes,owner,new property

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 16 columns):
Source                   23 non-null object
Location                 23 non-null object
Area (sq. ft)            23 non-null int64
Property Type            23 non-null object
Parking Facility         21 non-null object
Security                 19 non-null object
Furnishing Status        23 non-null object
Rs. per sq.ft            23 non-null int64
Price (Crores)           23 non-null float64
Status of Possession     23 non-null object
Distance from Airport    23 non-null float64
Rooms                    23 non-null object
Bathrooms                19 non-null float64
Photo Available          23 non-null object
Brokerage                23 non-null object
Transaction Type         23 non-null object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.1+ KB

## 2. Converting binary variables to 0s and 1s

In [7]:
data['Parking Facility'].unique()

array(['yes', nan, 'no'], dtype=object)

In [8]:
data['Security'].unique()

array([nan, 'yes', 'no'], dtype=object)

In [9]:
data['Status of Possession'].unique()

array(['ready to move', 'ready to move in', 'under construction'],
      dtype=object)

In [10]:
data['Photo Available'].unique()

array(['yes', 'no'], dtype=object)

In [11]:
data['Parking Facility'] = data['Parking Facility'].map({'yes':1, 'no':0})
data['Security'] = data['Security'].map({'yes':1, 'no':0})
data['Status of Possession'] = data['Status of Possession'].map({'ready to move':1, 'ready to move in':1, 'under construction':0})
data['Photo Available'] = data['Photo Available'].map({'yes':1, 'no':0})
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type
Property Number,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,owner,resale
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,owner,resale
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,owner,resale
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.96,1,8.0,2bhk,NaN,1,broker,resale
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,owner,new property

In [12]:
data['Brokerage'].unique()

array(['owner', 'broker'], dtype=object)

In [13]:
data['Transaction Type'].unique()

array(['resale', 'new property', 'new properity'], dtype=object)

In [14]:
data['Transaction Type'] = data['Transaction Type'].replace('new properity', 'new property')
data['Transaction Type'].unique()

array(['resale', 'new property'], dtype=object)

In [15]:
data['Brokerage'] = data['Brokerage'].map({'owner':1, 'broker':0})
data['Transaction Type'] = data['Transaction Type'].map({'new property':1, 'resale':0})

In [16]:
data['Brokerage'].unique()

array([1, 0], dtype=int64)

In [17]:
data['Transaction Type'].unique()

array([0, 1], dtype=int64)

In [18]:
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type
Property Number,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.96,1,8.0,2bhk,NaN,1,0,0
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,1,1

## 3. Categorizing variables into bins

In [19]:
data['Price Range'] = pd.cut(x = data['Rs. per sq.ft'], bins = 3 , labels=['low', 'medium', 'high'])

In [20]:
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range
Property Number,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0,low
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0,low
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0,low
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.96,1,8.0,2bhk,NaN,1,0,0,medium
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,1,1,low

In [21]:
data.tail()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range
Property Number,,,,,,,,,,,,,,,,,
19,magicbricks,pondicherry,1950,house,1.0,0.0,unfurnished,6923,1.35,1,1.5,3bhk,2.0,1,1,0,medium
20,housing,gangtok,750,house,0.0,0.0,unfurnished,3033,0.20,1,124.0,3bhk,2.0,0,0,0,low
21,99acres,manali,750,house,0.0,0.0,unfurnished,9333,0.70,1,34.0,2bhk,2.0,0,1,0,medium
22,99acres,munnar,5227,house,NaN,NaN,semi furnished,9565,5.00,1,115.0,3bhk,3.0,0,1,0,medium
23,housing,gangtok,5000,apartment,1.0,0.0,unfurnished,400,0.20,0,124.0,3bhk,2.0,1,1,0,low

In [22]:
data[data['Price Range'] == 'high']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range
Property Number,,,,,,,,,,,,,,,,,
12,magicbricks,mussorie rd,5500,villa,1.0,1.0,furnished,15455,8.5,1,64.0,5bhk,5.0,1,1,0,high

In [23]:
data[data['Price Range'] == 'low']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range
Property Number,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0,low
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0,low
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0,low
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,1,1,low
7,99acres,panchgani,15069,villa,1.0,1.0,furnished,1325,2.00,1,117.0,4bhk,4.0,1,0,0,low
9,99acres,nagpur,8000,villa,1.0,1.0,furnished,2500,2.00,1,50.0,5bhk,4.0,1,0,1,low
10,99acres,pune,2000,apartment,1.0,1.0,unfurnished,2250,0.45,0,30.0,3bhk,2.0,1,0,0,low
11,magicbricks,surat,3000,house,1.0,0.0,unfurnished,1667,0.50,1,100.0,5bhk,NaN,0,1,0,low
12,magicbricks,dehradun,1220,apartment,1.0,0.0,semi furnished,4098,0.50,1,60.0,2bhk,2.0,0,1,1,low
16,housing,gangtok,3200,apartment,1.0,0.0,unfurnished,1041,0.45,1,124.0,6bhk,4.0,1,0,0,low
17,99acres,manali,2200,house,1.0,0.0,unfurnished,3863,0.85,1,67.0,6bhk,3.0,1,1,0,low
18,99acres,manali,2444,villa,1.0,0.0,unfurnished,4009,0.98,1,45.0,5bhk,5.0,1,1,0,low
20,housing,gangtok,750,house,0.0,0.0,unfurnished,3033,0.20,1,124.0,3bhk,2.0,0,0,0,low
23,housing,gangtok,5000,apartment,1.0,0.0,unfurnished,400,0.20,0,124.0,3bhk,2.0,1,1,0,low

In [24]:
data[data['Price Range'] == 'medium']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range
Property Number,,,,,,,,,,,,,,,,,
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.960,1,8.0,2bhk,NaN,1,0,0,medium
6,magicbricks,bhubaneswar,1860,villa,1.0,1.0,semi furnished,7526,1.400,1,9.0,3bhk,NaN,0,0,0,medium
8,99acres,lonavala,4600,villa,1.0,1.0,furnished,6413,2.950,1,83.0,3bhk,4.0,1,0,0,medium
13,magicbricks,rajpura rd,2200,office space,1.0,1.0,furnished,10000,2.200,1,38.0,2 floor,4.0,1,0,0,medium
14,magicbricks,ooty,1000,villa,0.0,1.0,unfurnished,8780,0.878,1,70.0,2bhk,2.0,1,0,1,medium
19,magicbricks,pondicherry,1950,house,1.0,0.0,unfurnished,6923,1.350,1,1.5,3bhk,2.0,1,1,0,medium
21,99acres,manali,750,house,0.0,0.0,unfurnished,9333,0.700,1,34.0,2bhk,2.0,0,1,0,medium
22,99acres,munnar,5227,house,NaN,NaN,semi furnished,9565,5.000,1,115.0,3bhk,3.0,0,1,0,medium

Looking at the column 'Price Range'
low - <=5000
medium - <=10000
high - >10000

In [25]:
data['Area Range'] = pd.cut(x = data['Area (sq. ft)'], bins = 3 , labels=['small', 'medium', 'large'])

In [26]:
data[data['Area Range'] == 'small']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range
Property Number,,,,,,,,,,,,,,,,,,
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.100,1,130.0,3bhk,2.0,1,1,0,low,small
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.960,1,8.0,2bhk,NaN,1,0,0,medium,small
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.970,1,14.0,3bhk,NaN,1,1,1,low,small
6,magicbricks,bhubaneswar,1860,villa,1.0,1.0,semi furnished,7526,1.400,1,9.0,3bhk,NaN,0,0,0,medium,small
7,99acres,panchgani,15069,villa,1.0,1.0,furnished,1325,2.000,1,117.0,4bhk,4.0,1,0,0,low,small
8,99acres,lonavala,4600,villa,1.0,1.0,furnished,6413,2.950,1,83.0,3bhk,4.0,1,0,0,medium,small
9,99acres,nagpur,8000,villa,1.0,1.0,furnished,2500,2.000,1,50.0,5bhk,4.0,1,0,1,low,small
10,99acres,pune,2000,apartment,1.0,1.0,unfurnished,2250,0.450,0,30.0,3bhk,2.0,1,0,0,low,small
11,magicbricks,surat,3000,house,1.0,0.0,unfurnished,1667,0.500,1,100.0,5bhk,NaN,0,1,0,low,small
12,magicbricks,dehradun,1220,apartment,1.0,0.0,semi furnished,4098,0.500,1,60.0,2bhk,2.0,0,1,1,low,small
12,magicbricks,mussorie rd,5500,villa,1.0,1.0,furnished,15455,8.500,1,64.0,5bhk,5.0,1,1,0,high,small
13,magicbricks,rajpura rd,2200,office space,1.0,1.0,furnished,10000,2.200,1,38.0,2 floor,4.0,1,0,0,medium,small
14,magicbricks,ooty,1000,villa,0.0,1.0,unfurnished,8780,0.878,1,70.0,2bhk,2.0,1,0,1,medium,small
16,housing,gangtok,3200,apartment,1.0,0.0,unfurnished,1041,0.450,1,124.0,6bhk,4.0,1,0,0,low,small
17,99acres,manali,2200,house,1.0,0.0,unfurnished,3863,0.850,1,67.0,6bhk,3.0,1,1,0,low,small
18,99acres,manali,2444,villa,1.0,0.0,unfurnished,4009,0.980,1,45.0,5bhk,5.0,1,1,0,low,small
19,magicbricks,pondicherry,1950,house,1.0,0.0,unfurnished,6923,1.350,1,1.5,3bhk,2.0,1,1,0,medium,small
20,housing,gangtok,750,house,0.0,0.0,unfurnished,3033,0.200,1,124.0,3bhk,2.0,0,0,0,low,small
21,99acres,manali,750,house,0.0,0.0,unfurnished,9333,0.700,1,34.0,2bhk,2.0,0,1,0,medium,small
22,99acres,munnar,5227,house,NaN,NaN,semi furnished,9565,5.000,1,115.0,3bhk,3.0,0,1,0,medium,small
23,housing,gangtok,5000,apartment,1.0,0.0,unfurnished,400,0.200,0,124.0,3bhk,2.0,1,1,0,low,small

In [27]:
data[data['Area Range'] == 'medium']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range
Property Number,,,,,,,,,,,,,,,,,,
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0,low,medium

In [28]:
data[data['Area Range'] == 'large']

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range
Property Number,,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.0,1,124.0,3bhk,4.0,1,1,0,low,large

## 4. Extracting data based on conditions

In [29]:
Moderate_property=data.loc[((data['Property Type'] == 'house') & (data['Rooms'] == '3bhk'))]
Moderate_property

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range
Property Number,,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0,low,large
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0,low,small
19,magicbricks,pondicherry,1950,house,1.0,0.0,unfurnished,6923,1.35,1,1.5,3bhk,2.0,1,1,0,medium,small
20,housing,gangtok,750,house,0.0,0.0,unfurnished,3033,0.20,1,124.0,3bhk,2.0,0,0,0,low,small
22,99acres,munnar,5227,house,NaN,NaN,semi furnished,9565,5.00,1,115.0,3bhk,3.0,0,1,0,medium,small

## 5. Create derived column 'Actual Price' and 'Extra Cost' from 'Area (sq.ft)' and 'Rs. per sq.ft'

- Calculating 'Actual Price' by multiplying 'Area (sq.ft)' and 'Rs. per sq.ft'
- Finding the difference between 'Price' (from input data)  and 'Actual Price' to find 'Additional Fee'

In [30]:
data['Actual Price'] = data['Area (sq. ft)'] * data['Rs. per sq.ft']

In [31]:
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range,Actual Price
Property Number,,,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0,low,large,29969280
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0,low,medium,12501720
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0,low,small,1000000
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.96,1,8.0,2bhk,NaN,1,0,0,medium,small,9600569
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,1,1,low,small,8000000

In [32]:
data['Additional Fee'] = (data['Price (Crores)'] * 10000000) - data['Actual Price']

In [33]:
data.head()

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range,Actual Price,Additional Fee
Property Number,,,,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.00,1,124.0,3bhk,4.0,1,1,0,low,large,29969280,30720.0
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.25,1,120.0,4bhk,3.0,1,1,0,low,medium,12501720,-1720.0
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.10,1,130.0,3bhk,2.0,1,1,0,low,small,1000000,0.0
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.96,1,8.0,2bhk,NaN,1,0,0,medium,small,9600569,-569.0
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.97,1,14.0,3bhk,NaN,1,1,1,low,small,8000000,1700000.0

In [34]:
data

,Source,Location,Area (sq. ft),Property Type,Parking Facility,Security,Furnishing Status,Rs. per sq.ft,Price (Crores),Status of Possession,Distance from Airport,Rooms,Bathrooms,Photo Available,Brokerage,Transaction Type,Price Range,Area Range,Actual Price,Additional Fee
Property Number,,,,,,,,,,,,,,,,,,,,
1,99acres,munnar,87120,house,1.0,NaN,unfurnished,344,3.000,1,124.0,3bhk,4.0,1,1,0,low,large,29969280,30720.0
2,99acres,munnar,43560,house,1.0,NaN,unfurnished,287,1.250,1,120.0,4bhk,3.0,1,1,0,low,medium,12501720,-1720.0
3,99acres,munnar,800,house,NaN,NaN,unfurnished,1250,0.100,1,130.0,3bhk,2.0,1,1,0,low,small,1000000,0.0
4,magicbricks,bhubaneswar,1231,apartment,0.0,1.0,unfurnished,7799,0.960,1,8.0,2bhk,NaN,1,0,0,medium,small,9600569,-569.0
5,magicbricks,bhubaneswar,1600,apartment,0.0,1.0,furnished,5000,0.970,1,14.0,3bhk,NaN,1,1,1,low,small,8000000,1700000.0
6,magicbricks,bhubaneswar,1860,villa,1.0,1.0,semi furnished,7526,1.400,1,9.0,3bhk,NaN,0,0,0,medium,small,13998360,1640.0
7,99acres,panchgani,15069,villa,1.0,1.0,furnished,1325,2.000,1,117.0,4bhk,4.0,1,0,0,low,small,19966425,33575.0
8,99acres,lonavala,4600,villa,1.0,1.0,furnished,6413,2.950,1,83.0,3bhk,4.0,1,0,0,medium,small,29499800,200.0
9,99acres,nagpur,8000,villa,1.0,1.0,furnished,2500,2.000,1,50.0,5bhk,4.0,1,0,1,low,small,20000000,0.0
10,99acres,pune,2000,apartment,1.0,1.0,unfurnished,2250,0.450,0,30.0,3bhk,2.0,1,0,0,low,small,4500000,0.0
11,magicbricks,surat,3000,house,1.0,0.0,unfurnished,1667,0.500,1,100.0,5bhk,NaN,0,1,0,low,small,5001000,-1000.0
12,magicbricks,dehradun,1220,apartment,1.0,0.0,semi furnished,4098,0.500,1,60.0,2bhk,2.0,0,1,1,low,small,4999560,440.0
12,magicbricks,mussorie rd,5500,villa,1.0,1.0,furnished,15455,8.500,1,64.0,5bhk,5.0,1,1,0,high,small,85002500,-2500.0
13,magicbricks,rajpura rd,2200,office space,1.0,1.0,furnished,10000,2.200,1,38.0,2 floor,4.0,1,0,0,medium,small,22000000,0.0
14,magicbricks,ooty,1000,villa,0.0,1.0,unfurnished,8780,0.878,1,70.0,2bhk,2.0,1,0,1,medium,small,8780000,0.0
16,housing,gangtok,3200,apartment,1.0,0.0,unfurnished,1041,0.450,1,124.0,6bhk,4.0,1,0,0,low,small,3331200,1168800.0
17,99acres,manali,2200,house,1.0,0.0,unfurnished,3863,0.850,1,67.0,6bhk,3.0,1,1,0,low,small,8498600,1400.0
18,99acres,manali,2444,villa,1.0,0.0,unfurnished,4009,0.980,1,45.0,5bhk,5.0,1,1,0,low,small,9797996,2004.0
19,magicbricks,pondicherry,1950,house,1.0,0.0,unfurnished,6923,1.350,1,1.5,3bhk,2.0,1,1,0,medium,small,13499850,150.0
20,housing,gangtok,750,house,0.0,0.0,unfurnished,3033,0.200,1,124.0,3bhk,2.0,0,0,0,low,small,2274750,-274750.0
21,99acres,manali,750,house,0.0,0.0,unfurnished,9333,0.700,1,34.0,2bhk,2.0,0,1,0,medium,small,6999750,250.0
22,99acres,munnar,5227,house,NaN,NaN,semi furnished,9565,5.000,1,115.0,3bhk,3.0,0,1,0,medium,small,49996255,3745.0
23,housing,gangtok,5000,apartment,1.0,0.0,unfurnished,400,0.200,0,124.0,3bhk,2.0,1,1,0,low,small,2000000,0.0

We observed that there is high difference in the 'Additional Fee' due to inconsistencies in the data provided. We learnt the importance of data cleaning.

## Conclusion

The following tasks were performed
- String Handling
- Converting binary variables to 1s and 0s
- Categorizing data into bins
- Extracting data based on bins
- Creating derived columns