In [1]:
#Import the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#To ignore the Warnings which are occured while we preprocess the dataframes

import warnings
warnings.filterwarnings("ignore")

In [3]:
#Read the dataset onto a variable

train = pd.read_csv('titanic_data.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Fix the Predictor Variables
data = train[['Survived','Pclass','Sex','Age','Fare']]

In [5]:
# categorical encoding

data['Sex'] = data['Sex'].apply(lambda sex:1 if sex=="male" else 0)

In [6]:
data['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [7]:
#Handling missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   Fare      891 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 34.9 KB

In [8]:
print(data['Age'].isnull().sum())

177

In [9]:
data["Age"]= data["Age"].fillna(data['Age'].median())

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   Fare      891 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 34.9 KB

In [11]:
data['Age'] = data['Age'].astype('int64')

In [12]:

print(data.head())
print(data.shape)

   Survived  Pclass  Sex  Age     Fare
0         0       3    1   22   7.2500
1         1       1    0   38  71.2833
2         1       3    0   26   7.9250
3         1       1    0   35  53.1000
4         0       3    1   35   8.0500
(891, 5)

In [13]:
# Set the predictor(X) and Response(Y) Variables

X = data.drop("Survived",axis=1)
Y = data['Survived']

In [14]:
# spliting into training and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X,Y, test_size=0.25, stratify = Y,random_state=25)

In [15]:
from sklearn.linear_model import SGDClassifier
SGD = SGDClassifier()
SGD.fit(X_train,Y_train)

SGDClassifier()

In [17]:
# compute the Predictions or Y hat
Y_pred = SGD.predict(X_test)

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
print("confusion matrix for Stochastic Gradient Descent\n",cm)

confusion matrix for Stochastic Gradient Descent
 [[137   0]
 [ 86   0]]

In [19]:
#Accuracy Score
from sklearn.metrics import accuracy_score
lr_accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy of model using Logistic Regression is ",lr_accuracy)

Accuracy of model using Logistic Regression is  0.6143497757847534